img {
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}

body {
  line-height: 1.2;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background: white;
  color: black;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
strong {
  font-weight: 800;
  border-bottom: 2px solid #eee;
}

h3 {
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
    visibility: hidden;
    height: 0px;
}

.sidebar a {
  color: lightgray;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
  text-decoration: underline;
}

.content-container {
    margin-left: 10px;
    min-height: 100%
}

blockquote {
  background-color: #f8f8f8;
  border-left: 5px solid #ddd;
  padding: 5px;
  padding-left: 15px;
  color: #445;
}

img {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    max-width: 500px;
    border: 1px solid #eee;
}
