a {
  color: #e81c4f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff3c6f;
}

body {
  line-height: 1.5;
  background: white;
  color: #566b78;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  font-weight: 800;
  border-bottom: 2px solid #eee;
}

h3 {
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}

body {
  margin: 0;
  padding: 0;
}

blockquote {
  background-color: #f8f8f8;
  border-left: 5px solid #ddd;
  padding: 5px;
  padding-left: 15px;
  color: #445;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 600px;
  /*border: 1px solid #eee;*/
  box-shadow: 1px 1px 8px #eee;
  height: auto;
}

.sidebar {
  background-color: #322830;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 280px;
  color: #eee;
}

.sidebar a {
  color: lightgray;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
  text-decoration: underline;
}

.content-container {
  margin-left: 325px;
  min-height: 100%
}

.npfs-logo {
  border: 1px solid #666;
  box-shadow: none;
}
