<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="./css/main.css">
        </head>
        <body>

            <div class="sidebar">
                <h2>NPFS Training</h2>
                <nav>
                    <ul>
                        <li><a href="/cca.html">Call Centre Platform</a></li>
                        <li><a href="/about">Collection Points and Issuance</a></li>
                        <li><a href="/cv">Health Care Professional Portal</a></li>
                        <li><a href="/blog">Administration Portal</a></li>
                    </ul>
                </nav>
            </div>

            <div class="content-container">
                <div class="container">
                
                {{ content }}
                
                </div><!-- /.container -->
            </div>

            <footer>
                <ul>
                    <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
                    <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
                </ul>
            </footer>
        </body>
    </html>


