<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" media="screen" type="text/css" href="./css/main.css">
            <link rel="stylesheet" media="print" type="text/css" href="./css/main-print.css">
        </head>
        <body>

            <div class="sidebar">
                <img src="images/npfs-logo.png" class="npfs-logo" />
                <h2>Training Modules</h2>
                <nav>
                    <ul>
                        <a href="/">Home</a><br />
                        <a href="/cca.html">Call Centre Application</a><br />
                        <a href="/about">Collection Points and Issuance</a><br />
                        <a href="/cv">Health Care Professional Portal</a><br />
                        <a href="/blog">Administration Portal</a><br />
                    </ul>
                </nav>
            </div>

            <div class="content-container">
                <div class="container">
                
                {{ content }}
                
                </div>
            </div>


        </body>
    </html>


